<html> 
	<body> 
	quriy name: {{qname}}
<table border="1">
<tr>               
<td>{{row1}}</td>  
<td>{{row2}}</td>  
</tr>                   
<tr>                    
<td>{{row3}}</td>  
<td>{{row4}}</td>  
</tr>              
<tr>               
<td>{{row5}}</td>  
<td>{{row6}}</td>  
</tr> 
<img src={{row7}} />
</table>
    <form action="" method="get">
		<input type="radio"name="q" value=5{{row1}} /> Perfect  <br />
		<input type="radio"name="q" value=4{{row1}} /> Excellent <br />
		<input type="radio"name="q" value=3{{row1}} /> Good <br />
		<input type="radio"name="q" value=2{{row1}} /> Fair <br />
		<input type="radio"name="q" value=0{{row1}} /> Bad <br />
        <input type="submit" value="submit">
	</form>
	</body>
</html>
